body {
  font-family: "Roboto", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
}

#scrolly {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f3f3f3;
  padding: 1rem;
}

#scrolly > #textStory {
  width: 30%;
}

article {
  flex: 0;
  position: relative;
  padding: 0 1rem;
  max-width: 20rem;
}

.sticky {
  height: 300px;
  position: -webkit-sticky;
  position: sticky;
  /* width: 100%; */
  width: 50%;
  height: 100%;
  margin-top: 5rem;
  z-index: 0;
  top: 6rem;
}

.fadeIn {
  animation: fade-in 0.5s;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadeOut {
  animation: fade-out 0.5s;
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#textStory {
  flex: 1;
  position: sticky;
  position: -webkit-sticky;
  z-index: 0;
  top: 33%;
  width: 50px !important;
  height: 150px;
  background-color: rgba(126, 223, 215, 0.801);
  border-radius: 5px;
  padding-left: 1%;
}

#allGraphs {
  flex: 2;
  position: sticky;
  transform: translate(-25%, 15%);
}

#graphTitle {
  margin-left: 30%;
}

*/ .step {
  background-color: #3b3b3b;
  color: #fff;
}

.step:last-child {
  margin-bottom: 0;
}

.step.is-active {
  background-color: goldenrod;
  color: #3b3b3b;
}

.step p {
  text-align: center;
  padding: 1rem;
  font-size: 1.5rem;
}

.step {
  margin-top: 150px;
}

#footer {
  height: 500px;
}

#productLevel {
  margin-bottom: 250%;
}

#tooltip {
  position: absolute;
  background-color: #d1cccc;
  border-radius: 5px;
  font-size: small;
  box-shadow: 5px 5px 5px rgb(107, 122, 122);
}

.hidden {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

#fcTextTable {
  color: #e41a1c;
}

#mmTextTable {
  color: #377eb8;
}
#perTextTable {
  color: #4daf4a;
}
#psTextTable {
  color: #6f2e99;
}
