#scrolly {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f3f3f3;
  padding: 1rem;
}

#scrolly > #textStory {
  width: 30%;
}

article {
  flex: 0;
  position: relative;
  padding: 0 1rem;
  max-width: 20rem;
}

.sticky {
  height: 300px;
  position: -webkit-sticky;
  position: sticky;
  /* width: 100%; */
  width: 50%;
  height: 100%;
  margin-top: 2rem;

  /* -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); */
  /* background-color: #cbcebe; */
  z-index: 0;
  top: 2rem;
}

.fadeIn {
  animation: fade-in 0.5s;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadeOut {
  animation: fade-out 0.5s;
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#textStory {
  flex: 1;
  position: sticky;
  position: -webkit-sticky;
  z-index: 0;
  top: 33%;
  width: 50px !important;
  height: 100px;
  background-color: rgb(116, 216, 208);
}

#allGraphs {
  flex: 2;
  position: sticky;
  transform: translate(-25%, 15%);
}

#secondaryViz {
  width: 100px;
  height: 100px;

  background-color: red;
  /* flex: 1; */
  /* transform: translate(-75%, 475%); */
  /* margin-right: -100px; */
}

*/ .step {
  background-color: #3b3b3b;
  color: #fff;
}

.step:last-child {
  margin-bottom: 0;
}

.step.is-active {
  background-color: goldenrod;
  color: #3b3b3b;
}

.step p {
  text-align: center;
  padding: 1rem;
  font-size: 1.5rem;
}

.step {
  margin-top: 150px;
}

#footer {
  height: 500px;
}

#tooltip {
  position: absolute;
  background-color: #d1cccc;
  border-radius: 5px;
  font-size: small;
  box-shadow: 5px 5px 5px rgb(107, 122, 122);
}

.hidden {
  visibility: hidden;
}

.visible {
  visibility: visible;
}
